# Direct
beautifulsoup4==4.10.0
colorama==0.4.4
lxml==4.6.3
pytest==6.2.5
PyYAML==5.4.1
requests==2.26.0

# Indirect
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.6
idna==3.2
importlib-metadata==4.8.1
iniconfig==1.1.1
packaging==21.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
zipp==3.6.0
